html {
  box-sizing: border-box;

  /* http://aestheticallyloyal.com/public/optimize-legibility/ */
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}

article,
section,
.app-content {
  margin-top: 3rem;
}

article:first-child {
  margin-top: initial;
}

h1 a {
  text-decoration: none;
}

.external:after {
  background-image: url(../../../vendor/icons/external-link.svg);
  background-size: cover;
  content: ' ';
  display: inline-block;
  height: 12px;
  margin-left: .25rem;
  position: relative;
  top: .2rem;
  width: 12px;
}

.prerendered img {
  max-width: 100%;
}

.prerendered ol,
.prerendered ul {
  padding-left: 1em;
}

.redlink {
  color: #f00;
}

button:disabled,
input:disabled {
  /* TODO: something nicer here; may want animation */
  opacity: .5;
}

/* > Phablet */
@media (min-width: 550px) {
  .app {
    /* For fixed top-nav; see Nav.css */
    padding-top: 3.5rem;
  }
}
