html {
  box-sizing: border-box;

  /* http://aestheticallyloyal.com/public/optimize-legibility/ */
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  font-family: Georgia, Palatino, serif;
  font-size: 2rem;
}

article,
section,
.app-content {
  margin-top: 3rem;
}

article:first-child {
  margin-top: initial;
}

h1 a {
  text-decoration: none;
}

.external:after {
  background-image: url(../../../vendor/icons/external-link.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  margin-left: .25rem;
  padding-left: 1.25rem;
}

.footnotes {
  font-size: .75em;
}

.footnote-item {
  color: #666;
  position: relative;
}

.footnote-item:target {
  color: #222;
}

.footnote-item:target::before {
  border-radius: 6px;
  border: 2px solid #48c4f6;
  bottom: -8px;
  content: "";
  left: -24px;
  pointer-events: none;
  position: absolute;
  right: -8px;
  top: -8px;
}

.footnotes-sep {
  border-color: #e1e1e1;
}

.overflow-x-auto {
  background: linear-gradient(to right, white 50%, rgba(255,255,255,0)),
    linear-gradient(to left, white 50%, rgba(255,255,255,0)) 100% 0,
    radial-gradient(farthest-side at 0 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0;
  background-attachment: local, local, scroll, scroll;
  background-clip: padding-box;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
  .overflow-x-auto {
    background: initial;
  }
}

.prerendered img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  .footnote-item {
    color: #777;
  }

  .footnote-item:target {
    color: #bbb;
  }

  .footnotes-sep {
    border-color: #333;
  }

  .prerendered img {
    opacity: .8;
  }

  .prerendered img:hover {
    opacity: 1;
  }
}

.prerendered ol,
.prerendered ul {
  padding-left: 1em;
}

.redlink {
  color: #f00;
}

button:disabled,
input:disabled {
  /* TODO: something nicer here; may want animation */
  opacity: .5;
}
