.article-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.article-header .button {
  display: none;
  margin-bottom: 0;
  margin-left: 12px;
}

/* > Tablet: reveal edit button. */
@media (min-width: 750px) {
  .article-header .button {
    display: inline;
  }
}

.redirect-info {
  color: #bbb;
}
