.metadata {
  color: #888;
  font-style: italic;
  margin-bottom: 1rem;
}

.metadata > *:after {
  content: '\00b7'; /* middot */
  margin: 0 .5rem;
}

.metadata > *:last-child:after {
  content: none;
}
