nav {
  background-color: black;
  border-bottom: 1px solid #fff;
  width: 100%;
}

nav li:first-child {
  align-items: center;
  display: flex;
}

nav li:first-child a {
  border-bottom: 1px solid #333;
  color: #eee;
  font-weight: bold;
}

a.nav-link {
  color: #ccc;
  display: block;
  text-decoration: none;
  padding: 1rem 1rem;
  width: 100%;
}

a.nav-link.active {
  background-color: #333;
  border: 0;
}

.nav-link:focus,
.nav-link:hover {
  background-color: #111;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: none;
  margin: 0;
}

.nav-toggle-wrapper {
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}

.nav-toggle-wrapper:focus,
.nav-toggle-wrapper:hover {
  background-color: #111;
}

.nav-toggle {
  background-image: url(../../../vendor/icons/angle-double-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  overflow: hidden;
  padding: 1rem 0;
  text-transform: uppercase;
  transition: .2s ease-in-out;
  user-select: none;
  width: 32px;
}

.nav-open .nav-toggle {
  transform: rotate(180deg);
  transition: .2s ease-in-out;
}

.nav-open li {
  display: inherit;
}

/* > Phablet */
@media (min-width: 550px) {
  nav li:first-child {
    display: inline-block;
  }

  nav li:first-child a {
    border: 0;
  }

  nav li {
    display: inline-block;
  }

  a.nav-link {
    display: inline-block;
    padding: .5rem 1rem;
  }

  a.nav-link:focus,
  a.nav-link:hover {
    background-color: inherit;
  }

  a.nav-link.active {
    background-clip: padding-box;
    border-bottom: 4px solid rgba(191, 63, 191, .25);
    margin-bottom: -4px;
  }

  .nav-open li {
    display: inline-block;
  }

  .nav-toggle-wrapper {
    display: none;
  }
}
