@keyframes progress {
  0% {
    transform: translateX(-90vw);
  }
  8% {
    transform: translateX(-60vw);
  }
  16% {
    transform: translateX(-20vw);
  }
  20% {
    transform: translateX(-10vw);
  }
  30% {
    transform: translateX(-9vw);
  }
  40% {
    transform: translateX(-8vw);
  }
  50% {
    transform: translateX(-7vw);
  }
  60% {
    transform: translateX(-6vw);
  }
  70% {
    transform: translateX(-5vw);
  }
  80% {
    transform: translateX(-4vw);
  }
  90% {
    transform: translateX(-3vw);
  }
  95% {
    transform: translateX(-2vw);
  }
  100% {
    transform: translateX(-1vw);
  }
}

.progress {
  animation: progress 10s ease-in-out;
  background: #1eaedb;
  height: 2px;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(0);
  z-index: 1;
}
