.lozenge,
.lozenge:active,
.lozenge:hover,
.lozenge:visited {
  background: #F1F1F1;
  border-radius: 4px;
  border: 1px solid var(--color-separator);
  color: inherit;
  font-family: monospace;
  font-size: 90%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  text-decoration: none;
}
