.when:before {
  background-image: url(../../../vendor/icons/calendar.svg);
  background-size: cover;
  content: ' ';
  display: inline-block;
  height: 12px;
  margin-right: .5rem;
  position: relative;
  top: .2rem;
  width: 12px;
}

.when-link {
  color: inherit;
  text-decoration: none;
}

.when-link:hover {
  color: inherit;
}
