{
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/__mocks__/*.js",
            "**/__tests__/*-test.js"
          ]
        }]
      ]
    }
  },
  "plugins": [
    "dev-expression",
    "idx",
    "relay"
  ],
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ]
}
