{
  "plugins": [
    ["minify-replace", {
      "replacements": [{
        "identifierName": "__DEV__",
        "replacement": {
          "type": "booleanLiteral",
          "value": true
        }
      }]
    }],
    "relay",
    "transform-object-rest-spread",
    "transform-class-properties",
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.5.0",
        },
      },
    ],
    "react"
  ]
}
