{
  "plugins": [
    ["minify-replace", {
      "replacements": [{
        "identifierName": "__DEV__",
        "replacement": {
          "type": "booleanLiteral",
          "value": true
        }
      }]
    }],
    "relay",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.13.0",
        },
      },
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}
