# Not used, for now, because we're only using Prettier to format GraphQL and
# YAML files, and there are none of those that we'd wish to ignore at this time.
#
# See ".dprint.jsonc" for JSON, Markdown, and TS configuration.
