---
title: Test results
tags: blog
---

The test result notifications [mentioned earlier](http://www.wincent.com/a/about/wincent/weblog/archives/2007/04/test_process_im.php) are now [done](http://www.wincent.com/a/about/wincent/weblog/svn-log/archives/2007/04/wotest_r156_2_items_changed.php):

![](/system/images/legacy/growl-notifications.png)
