---
title: Test results
tags: blog
---

The test result notifications [mentioned earlier](https://wincent.dev/a/about/wincent/weblog/archives/2007/04/test_process_im.php) are now [done](https://wincent.dev/a/about/wincent/weblog/svn-log/archives/2007/04/wotest_r156_2_items_changed.php):

![](/images/growl-notifications.png)
