doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title wincent.com
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    if (production)
      link(rel='stylesheet', href=styles)
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    if (canonical)
      link(rel='canonical', href=canonical)
  body
    #relay-root
    script(src=bundle)
