html {
  box-sizing: border-box;

  /* http://aestheticallyloyal.com/public/optimize-legibility/ */
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}

article {
  margin-top: 3rem;
}

@media (min-width: 550px) {
  .app {
    /* For fixed top-nav; see Nav.css */
    padding-top: 3.5rem;
  }
}
