html {
  box-sizing: border-box;

  /* http://aestheticallyloyal.com/public/optimize-legibility/ */
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}
