.breadcrumbs {
  list-style-type: none;
  margin: 1rem 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li:after {
  content: '\00bb'; /* raquo */
  display: inline-block;
  margin: 0 .5rem;
}

.breadcrumbs li:last-child:after {
  display: none;
}
