@keyframes progress {
  0% {
    width: 10%;
  }
  8% {
    width: 40%;
  }
  16% {
    width: 80%;
  }
  20% {
    width: 90%;
  }
  30% {
    width: 91%;
  }
  40% {
    width: 92%;
  }
  50% {
    width: 93%;
  }
  60% {
    width: 94%;
  }
  70% {
    width: 95%;
  }
  80% {
    width: 96%;
  }
  90% {
    width: 97%;
  }
  95% {
    width: 98%;
  }
  100% {
    width: 99%;
  }
}

.progress {
  animation: progress 10s ease-in-out;
  background: #1eaedb;
  height: 2px;
  left: 0;
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 1;
}
