.when {
  color: #bbb;
  font-style: italic;
  margin-bottom: 1rem;
}

.when:before {
  background-color: #bbb; /* same as above */
  content: ' ';
  display: inline-block;
  height: 12px;
  margin-right: .5rem;
  mask-size: cover;
  mask-image: url(../../../vendor/icons/calendar.svg);
  position: relative;
  top: .2rem;
  width: 12px;
}
