.when {
  color: #bbb;
  font-style: italic;
  margin-bottom: 1rem;
}

.when:before {
  background-image: url(../../../vendor/icons/calendar.svg);
  background-size: cover;
  content: ' ';
  display: inline-block;
  height: 12px;
  margin-right: .5rem;
  position: relative;
  top: .2rem;
  width: 12px;
}
